#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0A1F44; 
    color: #FFF8DC; 
    margin: 0;
    padding: 0;
}

form {
    background-color: #FFF8DC; 
    color: #0A1F44; 
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

#title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: #0A1F44; 
}

#description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #4B0082; 
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #4B0082; 
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"],
input[type="color"],
select,
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
    background-color: #FFD700; 
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #0A1F44; 
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;

}
input[type="submit"]:hover,
input[type="submit"]:focus{
    background-color: #4B0082;
}
input[type="reset"]:hover,
input[type="reset"]:focus{
    background-color:rgb(179, 210, 236)
}